@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.app {
  padding: 1em 3em;
  height: 100%;
  overflow: hidden;
}

.main {
  height: 100%;

}

.hover-list {
  display: none;
}

.cart:hover .hover-list {
  display: inline-block;
}